{% extends 'base_panel.html' %}
{% load static %}

{% block title %}Admin Login{% endblock %}

{% comment %}    
    Author(s): Aidan Vancil (A), Foster Schmidt (F)
    Date(s):   11/12/23 - 12/03/23
    
    Description:
    - (A) Left Section
    - (A) Bottom 1/3 [Right Section]
    - (F) Middle 1/3 [Right Section]
    - (A + F) Top 1/3 [Right Section]
{% endcomment %}

{% block content %}
<div class="flex items-center justify-center h-screen mt-[-5vh] text-center">
    <div class="sm:w-1/2 hidden sm:flex items-center justify-center flex-col"> <!-- Left section -->
        <div class="w-full rounded-lg flex flex-col items-center justify-center">
            <div class="h-full w-full rounded-lg flex items-center justify-center mx-auto my-auto">
                <div class="h-[90%] w-full  rounded-lg flex items-start justify-center">
                    <div id="imageCarousel" class="splide w-4/5 mx-auto rounded-lg p-2 bg-white mt-[2.5%]">
                        <div class="splide__arrows flex justify-between">
                            <button class="splide__arrow splide__arrow--prev text-[#9843cd] bg-white font-bold opacity-100 w-auto px-3 rounded-lg transition duration-300 ease-in-out transform hover:scale-110">
                                Prev
                            </button>
                            <button class="splide__arrow splide__arrow--next text-[#9843cd] bg-white font-bold opacity-100 w-auto px-3 rounded-lg transition duration-300 ease-in-out transform hover:scale-110">
                                Next
                            </button>
                        </div>
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for image in images %}
                                    <li class="splide__slide rounded-lg relative">
                                        <img src="{% static 'media/' %}{{ image }}" alt="Image" class="">
                                        {% if init %}
                                        <button id="submit-button" onclick="showNotification('Image submitted to queue', bgColor='bg-green-500')" class="text-xs md:text-sm lg:text-lg text-red-600 hover:font-bold absolute bottom-0 left-1/2 bg-white -translate-x-1/2 mb-2 lg:px-3 lg:py-1 sm:px-2 py-0 rounded-lg transition duration-300 ease-in-out transform hover:scale-110"
                                            data-image-url="{% static 'media/' %}{{ image }}">
                                            <span class="">Submit to Queue</span>
                                        </button>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="metrics-container" class="hidden justify-center flex-col space-y-5 mt-10 mb-8 font-semibold w-11/12 h-4/5"> <!-- Metrics squares container -->
            <div class="space-x-5 hidden md:flex">
                <button onclick="inverse('CPU')" class="w-2/5 hidden lg:block py-4 rounded-lg bg-[#9843cd] text-white hover:text-[#6d3c8c] animate-fade-right animate-once animate-duration-500 animate-delay-[100ms] animate-ease-in-out metric-box" data-label="CPU">CPU</button>
                <div class="chart-container bg-white rounded-lg shadow-md p-4 hidden">
                    <canvas id="chart" class="animate-fade-right animate-once animate-duration-500 animate-delay-[100ms] animate-ease-in-out"></canvas>
                </div>
                <div class="chart-container bg-white rounded-lg shadow-md p-4 hidden">
                    <canvas id="chart" class="animate-fade-right animate-once animate-duration-500 animate-delay-[100ms] animate-ease-in-out"></canvas>
                </div>
                <button  onclick="inverse('Memory')" class="w-3/5 py-4 rounded-lg bg-[#9843cd] text-white hover:text-[#6d3c8c] animate-fade-right animate-once animate-duration-500 animate-delay-[200ms] animate-ease-in-out metric-box" data-label="Memory">Memory</button>
            </div>
            <div class="space-x-5 hidden md:flex">
                <button  onclick="inverse('Latency')" class="w-3/5 hidden lg:block py-4 rounded-lg bg-[#9843cd] text-white hover:text-[#6d3c8c] animate-fade-right animate-once animate-duration-500 animate-delay-[300ms] animate-ease-in-out metric-box" data-label="Latency">Latency</button>
                <div class="chart-container bg-white rounded-lg shadow-md p-4 hidden">
                    <canvas id="chart" class="animate-fade-right animate-once animate-duration-500 animate-delay-[100ms] animate-ease-in-out"></canvas>
                </div>
                <div class="chart-container bg-white rounded-lg shadow-md p-4 hidden">
                    <canvas id="chart" class="animate-fade-right animate-once animate-duration-500 animate-delay-[100ms] animate-ease-in-out"></canvas>
                </div>
                <button onclick="inverse('Frames')" class="w-2/5 py-4 rounded-lg bg-[#9843cd] text-white hover:text-[#6d3c8c] animate-fade-right animate-once animate-duration-500 animate-delay-[400ms] animate-ease-in-out metric-box" data-label="Frames">Frames</button>
            </div>
        </div>
    </div>
    <div class="w-full h-[80vh] sm:w-1/2 flex flex-col"> <!-- Right section -->
        
        <div id="top_third" class="sm:h-1/4 h-1/2 w-11/12 flex items-center space-x-6 mx-auto"> <!-- Top 1/3 -->
            {% if init %}
                <button onclick="toggleDebugMode()"><div id="debugButton" class="bg-[#9843cd] rounded-lg px-10 py-4 text-sm font-bold text-white sm:py-2 md:px-6 md:text-lg md:py-3 lg:py-4 lg:px-8 hover:text-[#6d3c8c]">Debug</div></button>
                <button><a href="{% url 'pull'%}" class="block bg-gray-700 bg-opacity-40  text-[#9843cd] rounded-lg px-10 py-4 text-sm font-bold sm:py-2 md:px-6 md:text-lg md:py-3 lg:py-4 lg:px-8 hover:text-gray-700">Fill Mode</a></button>
            {% else %}
                <button onclick="showNotification('Program initializing', bgColor='bg-green-500')"><a href="{% url '_init'%}" class="block bg-gray-700 bg-opacity-40 text-[#9843cd] rounded-lg px-10 py-4 text-sm font-bold sm:py-2 md:px-6 md:text-lg md:py-3 lg:py-4 xl:px-8 hover:text-gray-700">Calibrate</a></button>
            {% endif %}
            <div class="hidden lg:flex flex-grow"></div>
            <!-- Information button -->
            <d id="informaticWindow" class="hidden text-[#9843cd] font-bold text-lg">
                <div id="informatic" class="bg-[#9843cd] text-white rounded-lg flex">
                    {% if not init %}
                    <button onclick="{% if connected %}window.location.href='{% url 'del_code' %}'{% else %}transitionIntoInput(){% endif %}" id="informaticOriginal" class="px-10 py-4 sm:py-2 md:px-6 md:py-3 lg:py-4 lg:px-8 flex">
                        <p class="animate-fade-right animate-once animate-duration-500 animate-delay-[100ms] animate-ease-in-out hover:text-[#6d3c8c]">Go {% if connected %}Offline{% else %}Online{% endif %}</p>
                        <div id="informaticButtonOG" class="cursor-pointer rounded-full bg-gray-200 w-5 h-5 p-2 xl:flex hidden items-center justify-center ml-4 mr-[-1vw] hover:opacity-50">
                            <i class="text-[#9843cd] text-[0.75rem]">i</i>
                        </div>
                    </button>
                    {% endif %}
                    <div id="codeBox" class="hidden ml-4 mr-1 space-x-5 items-center py-[0.12rem]">
                        <input type="text" id="codeInput" class="w-1/3 rounded-lg border text-black m-2 text-center animate-fade-right animate-once animate-duration-500 animate-delay-[100ms] animate-ease-in-out" maxlength="5" placeholder="Enter code">
                        <button id="codeSubmit" class="bg-[#161a20] text-[#9843cd] rounded-lg px-2 py-1 m-1 hover:text-gray-700 animate-fade-right animate-once animate-duration-500 animate-delay-[200ms] animate-ease-in-out">Submit</button>
                        <button id="cancelInput" class="bg-[#9843cd] text-white hover:text-[#9843cd] rounded-lg px-2 py-1 m-1 hover:bg-[#6d3c8c] animate-fade-right animate-once animate-duration-500 animate-delay-[300ms] animate-ease-in-out">Cancel</button>
                    </div>
                    <div id="informaticChanged" class="hidden leading-none py-2 pr-6 pl-2 h-1/4 w-full text-left font-light">
                        <div class="flex-col">
                            <h3 class="text-sm text-center mb-1 font-bold"><span class="underline">Status:</span>{% if connected %}<span class="text-green-400"> Online</span>{% else %}<span class="text-red-500"> Offline</span>{% endif %}</h3>
                            <p class="text-[0.55rem]">With an internet connect feel free to connect online. This <a href="https://virtual-graffiti-box.onrender.com/" target="_blank"><i class="underline font-medium">link</i></a> will redirect to a website that provides a code. Upon inputting the code and submitting, your private instance will be connected, enabling the following features:</p>
                            <ul class="text-[0.55rem] list-disc text-left ml-[20%] mt-2">
                                <li>User Registration, User Settings, Admin-User Controls</li>
                            </ul> 
                        </div>
                        <div id="informaticButton" onclick="toggleInfoText()" class="cursor-pointer font-bold rounded-full bg-gray-200 w-5 h-5 p-2 xl:flex hidden items-center justify-center mr-[-1vw] ml-[-20px] hover:opacity-50">
                            <p class="text-[#9843cd] text-[0.75rem]">X</p>
                        </div>
                    </div>
                </div>
            </d>
        </div>

        <div id="middle_third" class="sm:h-[37.5%] h-1/2 w-full flex justify-center items-center mx-auto mb-4 mt--4"> <!-- Middle 1/3 -->
            <div class="h-[100%] bg-[#0b0d10] border-2 border-[#1c2127] rounded-lg w-11/12 flex sm:text-sm md:text-base lg:text-lg justify-center p-2">
                {% if video_feed and init %}
                <div id="videoModal" class="hidden fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-75 items-center justify-center z-10">
                    <div class="flex items-center justify-center w-full h-full">
                        <div class="rounded-lg bg-[#1c2127] p-3 flex justify-center w-1/2 h-9/32">
                            <img src="{% url 'video_feed' %}" class="w-11/12 h-2/3 rounded-lg"/>
                            <div class="flex items-center justify-center w-1/12">
                                <div id="closeVideoModal" class="bg-black rounded-lg p-3 mx-auto flex justify-center items-center hover:bg-gray-900 animate-fade-up animate-once animate-duration-300 animate-delay-[200ms] animate-ease-in-out animate-normal">
                                    <button class="text-white text-2xl font-bold">&times;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-lg p-4 flex justify-center w-11/12 sm:w-4/5 md:w-3/5 lg:w-1/2 {% if not video_feed %} animate-pulse {% endif %}">
                    <img id="openVideoModal" src="{% url 'video_feed' %}" class="w-full h-full sm:h-9/32 rounded-lg"/>
                </div>
                {% else %}
                    <div class="w-full h-full flex justify-center items-center font-bold text-3xl text-[#636363]">
                        <p class="italic font-light">No connection established</p>
                    </div>
                {% endif %}
            </div>
        </div>
        

        <div id="bottom_third" class="hidden h-auto my-2 mx-auto rounded-lg text-white text-lg w-11/12 sm:block"> <!-- Bottom 1/3 -->
            <div class="rounded-lg bg-gray-700 bg-opacity-40  text-[#9843cd] items-center mx-auto p-3 justify-between">
                <div class="text-xl font-bold mb-4">Connections</div>
                {% if users %}
                    {% for user in users %}
                        <div class="flex items-center bg-gray-700 bg-opacity-30 text-md text-white rounded h-2/3 mb-2">
                            <div class="flex-grow"> <span class="font-semibold"> {{ user.first_name }}_{{ user.last_name }}'s </span> 
                                <span class="
                                        {% if user.laser.id == 'Green' %}text-green-500
                                        {% elif user.laser.id == 'Purple' %}text-purple-500
                                        {% elif user.laser.id == 'Red' %}text-red-500
                                        {% else %}bg-gray-500
                                        {% endif %}">{{ user.laser.id|lower }} laser
                                </span>
                            </div>
                            <a href="{% url 'disconnect_user' first_name=user.first_name last_name=user.last_name %}" class="text-sm m-2 px-2 bg-[#9843cd] text-white rounded-lg font-bold"><span class="hover:opacity-80">Disconnect</span></a>
                        </div>
                    {% endfor %}
                {% endif %}
            
                {% for x in range %}
                    <div class="lg:flex items-center bg-gray-800 bg-opacity-50 font-bold text-lg rounded h-2/3 animate-pulse mb-2 hidden"> 
                        <div class="w-full md:w-2/3 mb-2 md:mb-0 md:mr-4">
                            <div class="p-1 m-[0.4rem] h-1/3 w-full md:w-2/3 mb-2 bg-gradient-to-r from-gray-600 via-gray-500 to-gray-800 opacity-60 rounded animate-pulse"></div>
                            <div class="p-1 m-[0.4rem] h-1/3 w-full md:w-1/2 bg-gradient-to-r from-gray-600 via-gray-500 to-gray-800 opacity-60 rounded animate-pulse"></div>
                        </div>
                        <div class="flex-grow"></div>
                        <button class="text-sm px-2 m-2 bg-[#9843cd] text-white rounded-lg blur-sm">Disconnect</button>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<script>
    let debugMode = false;
    let infoMode = false;
    function toggleMetricsVisibility(debugMode) {
        const metricsContainer = document.getElementById('metrics-container');
        if (debugMode) {
            metricsContainer.style.display = 'flex';
        } else {
            metricsContainer.style.display = 'none';
        }
    }

    function toggleInfoText() {
        var informaticOriginal = document.getElementById("informaticOriginal");
        var informaticChanged = document.getElementById("informaticChanged");
        var informaticButton = document.getElementById("informaticButtonOG");
        var informatic = document.getElementById("informatic");
        informatic.classList.toggle("cursor-default");
        informaticButton.classList.toggle("bg-opacity-40");        
        informaticChanged.classList.toggle('hidden');
        informaticChanged.classList.toggle('flex')
        informaticOriginal.classList.toggle('hidden');
        infoMode = !infoMode;
    }

    function toggleDebugMode() {
        var debugButton = document.getElementById("debugButton");
        debugButton.classList.toggle("bg-gray-700");
        debugButton.classList.toggle("bg-opacity-40");
        debugButton.classList.toggle("text-white");
        debugButton.classList.toggle("text-[#9843cd]");
        debugButton.classList.toggle("hover:text-[#6d3c8c]");
        debugButton.classList.toggle("border-white");
        debugButton.classList.toggle("border-2");
        debugMode = !debugMode;
        toggleMetricsVisibility(debugMode);

        showNotification(debugMode ? 'Debug mode activated' : 'Debug mode deactivated', bgColor='bg-green-500');
    }

    function inverse(metricType) {
        const metricBoxes = document.querySelectorAll('.metric-box');
        const chartContainers = document.querySelectorAll('.chart-container');
        const canvas = document.querySelectorAll('.chart-container canvas');
        metricBoxes.forEach((box, index) => {
            if (box.getAttribute('data-label') === metricType) {
                const isActive = box.classList.contains('active');
                if (!isActive) {
                    metricBoxes.forEach((otherBox, otherIndex) => {
                        if (otherIndex !== index) {
                            otherBox.style.display = 'none';
                        }
                    });
                    chartContainers.forEach(container => {
                        container.style.display = 'none';
                    });

                    chartContainers[index].style.display = 'block';
                    box.classList.add('active', 'font-bold', 'text-3xl');
                    createChart(canvas[index], metricType);
                } else {
                    metricBoxes.forEach((otherBox, otherIndex) => {
                        if (otherIndex !== index) {
                            otherBox.style.display = 'block';
                        }
                    });
                    chartContainers[index].style.display = 'none';
                    box.classList.remove('active', 'font-bold', 'text-3xl');
                }
            }
        });
    }
    
    function transitionIntoInput() {
        const codeBox = document.getElementById("codeBox");
        const informaticOriginal = document.getElementById("informaticOriginal");

        if (informaticOriginal.classList.contains('hidden')) {
            informaticOriginal.classList.remove('hidden');
            codeBox.classList.add('hidden');
            codeBox.classList.remove('flex');
        } else {
            informaticOriginal.classList.add('hidden');
            codeBox.classList.add('flex');
            codeBox.classList.remove('hidden');
        }
    }

    document.getElementById("cancelInput").addEventListener("click", function() {
        transitionIntoInput();
    });

    document.getElementById("codeSubmit").addEventListener("click", function() {
        const codeInputValue = document.getElementById("codeInput").value;

        if (codeInputValue.toString().length < 5) {
            showNotification("Code is not required length.");
            return;
        }

        if (isNaN(Number(codeInputValue.toString()))) {
            showNotification("Code must be only numeric.");
            return;
        }

        const TEST_HOST = 'http://localhost:8000'
        const PROD_HOST = 'https://virtual-graffiti-box.onrender.com'
        const code_validation_url = TEST_HOST + '/api/v1/validate_code/' + codeInputValue.toString()
        fetch(code_validation_url , {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            const storeCodeUrl = '/store_code/';
            const requestData = {
                code: codeInputValue
            };

            fetch(storeCodeUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
            .then(response_t => {
                if (response_t.ok && response.ok) {
                    showNotification('Online mode enabled.', bgColor='bg-green-500');
                    setTimeout(function() {
                        window.location.href = "{% url 'admin_panel' %}";
                    }, 2500)
                } else {
                    showNotification('Invalid code.');
                }
            })
            .catch(error => {
                showNotification('Failed to store code.');
                console.error('Error:', error);
            });
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            showNotification(error.message)
            console.error('Error:', error);
        });
    });
    
    function createChart(canvas, metricType) {
        let labels, data;
        if (metricType === 'CPU') {
            labels = ['0s', '10s', '20s', '30s', '40s', '50s', '60s'];
            data = [65.9, 59.8, 80.3, 81.1, 56.1, 55.5, 40.3];
        } else if (metricType === 'Memory') {
            labels = ['0s', '10s', '20s', '30s', '40s', '50s', '60s'];
            data = [45, 30, 60, 75, 50, 65, 55];
        } else if (metricType === 'Latency') {
            labels = ['0s', '10s', '20s', '30s', '40s', '50s', '60s'];
            data = [100, 200, 300, 300, 200, 100, 100]; // Converted to milliseconds
        } else if (metricType === 'Frames') {
            labels = ['0s', '10s', '20s', '30s', '40s', '50s', '60s'];
            data = [70, 75, 60, 65, 65, 35, 69];
        }

        new Chart(canvas, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: metricType + ' Over Past Poll',
                    backgroundColor: 'rgba(0, 0, 0, 1)',
                    borderColor: 'rgba(98, 0, 238, 1)',
                    borderWidth: 1,
                    data: data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    function showNotification(message, bgColor='bg-red-500') {
        const notification = document.createElement('button');
        notification.classList.add('absolute', 'top-[8%]', 'left-[40%]', 'm-4', 'p-4', bgColor, 'text-white', 'font-bold', 'rounded-lg', 'shadow-lg', 'opacity-0', 'transform', 'transition', 'duration-300', 'ease-in-out', 'hover:opacity-100');

        notification.textContent = message;

        document.body.appendChild(notification);

        setTimeout(() => {
            notification.classList.remove('opacity-0', 'translate-y-0');
            notification.classList.add('opacity-100', 'translate-y-[-50%]');
        }, 100);

        setTimeout(() => {
            notification.classList.remove('opacity-100', 'translate-y-[-50%]');
            notification.classList.add('opacity-0', 'translate-y-0');
            setTimeout(() => {
                notification.remove();
            }, 300);
        }, 3000);
    }

    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#imageCarousel', {
            type: 'fade',
            heightRatio: 0.5,
            pagination: false,
            arrows: true,
            cover: true,
        }).mount();

        fetch('https://jsonplaceholder.typicode.com/posts/1')
        .then(function(response) {
            if (response.status === 200) {
                var informaticWindow = document.getElementById("informaticWindow");
                if (!informaticWindow.classList.contains('xl:flex')) {
                    informaticWindow.classList.add('xl:flex');
                }
            }
        })
        .catch(function(error) {
            console.error('Error:', error);
        });
           

        document.getElementById('informaticButtonOG').addEventListener('click', function(event) {
            event.stopPropagation();
            toggleInfoText();
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
    const submitButtons = document.querySelectorAll('#submit-button');
    submitButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const imageUrl = button.getAttribute('data-image-url');
                fetch('{% url 'submit_image' %}', {
                    method: 'POST',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify({ image_url: imageUrl }),
                })
                .then(response => response.json())
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    });


    const videoModal = document.getElementById('videoModal');
    const openVideoModal = document.getElementById('openVideoModal');
    const closeVideoModal = document.getElementById('closeVideoModal');

    function isMdBreakpoint() {
        const lgBreakpoint = 1024; // px
        return window.innerWidth >= lgBreakpoint;
    }

    openVideoModal.addEventListener('click', function() {
        if (isMdBreakpoint()) {
            openVideoModal.style.display = 'none';
            videoModal.classList.toggle('hidden', false);
        }
    });

    closeVideoModal.addEventListener('click', function() {
        if (isMdBreakpoint()) {
            openVideoModal.style.display = 'block';
            videoModal.classList.toggle('hidden', true);
        }
    });

    window.addEventListener('resize', function() {
        if (!isMdBreakpoint()) {
            openVideoModal.style.display = 'block';
            videoModal.classList.toggle('hidden', true);
        }
    });


    function checkResetSignal() {
        $.ajax({
            url: '/check_reset_signal/',
            method: 'GET',
            success: function(response) {
                if (response.reset_signal) {
                    location.reload();
                }
            },
            complete: function() {
                setTimeout(checkResetSignal, 5000);
            }
        });
    }

    $(document).ready(function() {
        checkResetSignal();
    });
</script>
{% endblock %}