{% extends 'base_panel.html' %}

{% block title %}Admin Login{% endblock %}

{% comment %}    
    Author(s): Aidan Vancil (A), Foster Schmidt (F)
    Date(s):   11/12/23 - 12/03/23
    
    Description:
    - (A) Left Section
    - (A) Bottom 1/3 [Right Section]
    - (F) Middle 1/3 [Right Section]
    - (A + F) Top 1/3 [Right Section]
{% endcomment %}

{% block content %}
<div class="flex items-center justify-center h-screen mt-[-5vh] text-center">
    <div class="sm:w-1/2 hidden sm:flex items-center justify-center"> <!-- Left section -->
        <div class="h-[80vh] w-11/12 bg-[#434343] rounded-xl flex flex-col items-center justify-center">
            <div class="h-4/5 w-11/12 bg-[#636363] rounded-xl flex items-center justify-center mx-auto my-auto">
                <div class="h-[95%] w-[95%] bg-[#181818] rounded-xl">
                    <form action="/">
                        
                    </form>
                </div>
            </div>
            <div class="flex my-auto md:ml-[75%] sm:ml[50%] ml-[30%]">
                <button class="lg:px-5 lg:py-2 lg:text-xl md:px-3 md:py-1  px-1 py-0 bg-[#636363] rounded-full font-bold md:text-lg text-white hover:text-gray-700">Export</button>
            </div>
        </div>
    </div>
    <div class="w-full h-[80vh] sm:w-1/2 flex flex-col"> <!-- Right section -->
        
        <div id="top_third" class="sm:h-1/4 h-1/2 w-11/12 flex items-center justify-between mx-auto"> <!-- Top 1/3 -->
            <div class="bg-[#636363] rounded-full px-10 py-4 text-sm font-bold text-white sm:py-2 md:px-6 md:text-lg md:py-3 lg:py-4 lg:px-8 lg:text-2xl xl:text-4xl hover:text-gray-700">Debug 📷</div>
            <div class="bg-[#636363] rounded-full px-10 py-4 text-sm font-bold text-white sm:py-2 md:px-6 md:text-lg md:py-3 lg:py-4 lg:px-8 lg:text-2xl xl:text-4xl hover:text-gray-700">Run Tests 📝</div>
        </div>

        <div id="middle_third" class="sm:h-[37.5%] h-1/2 w-full flex justify-center items-center mx-auto mb-4 mt--4"> <!-- Middle 1/3 -->
            <div class="h-[100%] bg-[#C4C4C4] rounded-lg w-11/12 flex sm:text-sm md:text-base lg:text-lg justify-center p-2">
                {% if video_feed %}
                <div id="videoModal" class="hidden fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-75 items-center justify-center z-10">
                    <div class="flex items-center justify-center w-full h-full">
                        <div class="rounded-lg bg-[#636363] p-6 flex justify-center w-1/2 h-9/32">
                            <img src="{% url 'video_feed' %}" class="w-11/12 h-2/3 rounded-lg"/>
                            <div class="flex items-center justify-center w-1/12">
                                <div id="closeVideoModal" class="bg-[#181818] w-11/12 h-1/6 rounded-lg p-2 ml-3 flex justify-center items-center hover:bg-black">
                                    <button class="text-white text-2xl m-4">&times;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-lg bg-[#636363] p-4 flex justify-center w-11/12 sm:w-4/5 md:w-3/5 lg:w-1/2">
                    <img id="openVideoModal" src="{% url 'video_feed' %}" class="w-full h-full sm:h-9/32 rounded-lg"/>
                </div>
                {% else %}
                    <div class="w-full h-full flex justify-center items-center">
                        <p>No video active</p>
                    </div>
                {% endif %}
            </div>
        </div>
        

        <div id="bottom_third" class="hidden h-auto my-2 mx-auto rounded-lg text-white text-lg w-11/12 sm:block"> <!-- Bottom 1/3 -->
            <div class="rounded-lg bg-[#434343] items-center mx-auto p-3 justify-between">
                <div class="underline text-3xl font-bold mb-4">Connections</div>
                {% if users %}
                    {% for user in users %}
                        <div class="flex items-center bg-[#636363] font-bold text-lg rounded h-2/3 mb-2">
                            <div class="flex-grow"> {{ user.first_name }}_{{ user.last_name }}'s 
                                <span class="
                                        {% if user.laser.id == 'Green' %}text-green-500
                                        {% elif user.laser.id == 'Purple' %}text-purple-500
                                        {% elif user.laser.id == 'Red' %}text-red-500
                                        {% else %}bg-gray-500
                                        {% endif %}">{{ user.laser.id }} Laser
                                </span> 🔦
                            </div>
                            <a href="{% url 'disconnect_user' first_name=user.first_name last_name=user.last_name %}" class="text-sm m-2 px-2 bg-red-600 rounded-full">Disconnect</a>
                        </div>
                    {% endfor %}
                {% endif %}
            
                {% for x in range %}
                    <div class="lg:flex items-center bg-[#636363] font-bold text-lg rounded h-2/3 animate-pulse mb-2 hidden"> 
                        <div class="w-full md:w-2/3 mb-2 md:mb-0 md:mr-4">
                            <div class="p-1 m-[0.4rem] h-1/3 w-full md:w-2/3 mb-2 bg-gradient-to-r from-[#838383] via-[#B0B0B0] to-[#838383] rounded animate-pulse"></div>
                            <div class="p-1 m-[0.4rem] h-1/3 w-full md:w-1/2 bg-gradient-to-r from-[#838383] via-[#B0B0B0] to-[#838383] rounded animate-pulse"></div>
                        </div>
                        <div class="flex-grow"></div>
                        <button class="text-sm px-2 m-2 bg-red-600 rounded-full blur-sm">Disconnect</button>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<script>
    const videoModal = document.getElementById('videoModal');
    const openVideoModal = document.getElementById('openVideoModal');
    const closeVideoModal = document.getElementById('closeVideoModal');

    function isMdBreakpoint() {
        const lgBreakpoint = 1024; // px
        return window.innerWidth >= lgBreakpoint;
    }

    openVideoModal.addEventListener('click', function() {
        if (isMdBreakpoint()) {
            openVideoModal.style.display = 'none';
            videoModal.classList.toggle('hidden', false);
        }
    });

    closeVideoModal.addEventListener('click', function() {
        if (isMdBreakpoint()) {
            openVideoModal.style.display = 'block';
            videoModal.classList.toggle('hidden', true);
        }
    });

    window.addEventListener('resize', function() {
        if (!isMdBreakpoint()) {
            openVideoModal.style.display = 'block';
            videoModal.classList.toggle('hidden', true);
        }
    });
</script>


    
{% endblock %}
