{% extends 'base_panel.html' %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-screen mt-[-5vh] text-center">
    <div class="sm:w-1/2 hidden sm:flex items-center justify-center"> <!-- Left section -->
        <div class="h-[80vh] w-11/12 bg-[#434343] rounded-xl flex flex-col items-center justify-center">
            <div class="h-4/5 w-11/12 bg-[#636363] rounded-xl flex items-center justify-center mx-auto my-auto">
                <div class="h-[95%] w-[95%] bg-[#181818] rounded-xl">
                    a
                </div>
            </div>
            <div class="flex my-auto md:ml-[75%] sm:ml[50%] ml-[30%]">
                <button class="lg:px-5 lg:py-2 lg:text-xl md:px-3 md:py-1  px-1 py-0 bg-[#636363] rounded-full font-bold md:text-lg text-white hover:text-gray-700">Export</button>
            </div>
        </div>
    </div>
    <div class="w-full sm:w-1/2 p-4"> <!-- Right section -->
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% endblock %}
