{% comment %}   
    Author(s): Aidan Vancil (A)
    Date(s):   11/12/23 - 12/03/23
    
    Description:
    - (A) Initial base template
{% endcomment %}

{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Virtual Graffiti</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="csrf-token" content="{{ csrf_token }}">
		{% tailwind_css %}
	</head>

	<body class="overflow-hidden bg-black">
		<header>
			<button class="mx-4 mt-4 py-3 px-7 bg-black text-white font-bold text-3xl rounded-lg"><a href="/">V/G</a></button>
		</header>
	
		<main class="">
			{% block content %}{% endblock %}
		</main>
	</body>
</html>
