{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Virtual Graffiti</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% tailwind_css %}
</head>

<body 
    class="overflow-hidden"
    style="{% if gradient %}background: linear-gradient(to bottom, {{from_gradient}}, {{to_gradient}}); {% endif %}"
>

<nav class="bg-[#434343] text-white p-4 w-full flex items-center justify-between">
    <button class="mx-4 py-3 px-7 bg-black text-white font-bold text-3xl rounded-full"><a href="/">V/G</a></button>
    
    <div class="flex items-center space-x-4  font-bold">
        {% if range|length != 0 %} <button class="hidden sm:block {% if users %} md:bg-[#636363] {% endif %} bg-[#181818] py-3 px-7   text-white rounded-full hover:text-gray-700"><a href="/register">Register User </a></button> {% endif %}
        {% if users %}
            <button id="openSidebarBtn" class="hidden md:block py-3 px-7 bg-[#181818] text-white rounded-full hover:text-gray-500">Settings</button>
        {% endif %}
        <button class="py-3 px-7 bg-[#636363] text-white rounded-full hover:text-gray-700"><a href="/logout">Log Out</a></button>
    </div>
</nav>

{% if users %}
<div id="sidebar" class="fixed top-0 right-0 h-1/5 bg-[#181818] p-4 transition-transform ease-in-out duration-300 rounded-lg hidden border border-gray-500 lg:border-none md:block md:w-4/5 md:h-1/3 lg:w-2/5 xl:w-[22.5%] lg:h-1/2"
    style="transform: translateX(100%);">    <button id="closeSidebarBtn" class="font-bold text-4xl text-white">></button>
    <div class="font-bold text-4xl text-white underline text-center">Settings</div>

    <div class="text-white text-center flex lg:flex-col justify-end my-auto items-center mt-5 ml-[5%]">
        
        <!-- Laser dropdown -->
        <div class="md:flex hidden items-center lg:mb-4 w-full">
            <span class="font-bold mr-2">Laser:</span>
            <select id="laserDropdown" class="bg-[#434343] text-white p-2 rounded" onchange="getLaser(this.value)">
                <option value="" selected disabled></option>
                {% for user in users %}
                    <option value="{{ user.laser.id }}">{{ user.laser.id }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Color window -->
        <div class="md:flex hidden items-center lg:mb-4 w-full" onchange="setLaser('color')">
            <span class="font-bold mr-2">Color:</span>
            <input type="color" id="colorInput" class="rounded" disabled>
        </div>

        <!-- Size input -->
        <div class="lg:flex hidden items-center lg:mb-4 w-full" onchange="setLaser('size')">
            <span class="font-bold mr-2">Size:</span>
            <input type="number" id="sizeInput" class="bg-[#434343] text-white p-2 rounded" min="1" max="200" disabled>
            <span>px</span>
        </div>

        <!-- Style input -->
        <div class="md:flex hidden items-center w-full">
            <span class="font-bold mr-2">Style:</span>
            <select id="styleDropdown" class="bg-[#434343] text-white p-2 rounded" disabled onchange="setLaser('style')">
                <option value="fountain">Fountain</option>
                <option value="pencil">Pencil</option>
                <option value="spray">Spray</option>
            </select>
        </div>
    </div>
</div>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        setInterval(() => {
            const id = document.getElementById('laserDropdown').value
            if (id.length > 1) {
              getLaser(id);
            }
        }, 10000);
        
    });

    function getCSRFToken() {
        return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }

    function getLaser(id) {
        const URL = 'http://localhost:8000/get_laser/' + id;
        fetch(URL)
            .then(response => response.json())
            .then(data => {
                document.getElementById('colorInput').value = data.color;
                document.getElementById('sizeInput').value = data.size;
                var styleDropdown = document.getElementById('styleDropdown');
                for (var i = 0; i < styleDropdown.options.length; i++) {
                    var option = styleDropdown.options[i];
                    if (option.value === data.style) {
                        option.selected = true;
                    } else {
                        option.selected = false;
                    }
                }
                
                document.getElementById('colorInput').removeAttribute('disabled');
                document.getElementById('sizeInput').removeAttribute('disabled');
                document.getElementById('styleDropdown').removeAttribute('disabled');
            })
            .catch(error => console.error('Error fetching laser details:', error));
    }
    
    function setLaser(feature) {
        const id = document.getElementById('laserDropdown').value;
        const color_input = document.getElementById('colorInput').value;
        const size_input = document.getElementById('sizeInput').value;
        const style_input = document.getElementById('styleDropdown').value;
        var data = null;

        if (feature === 'color') {
            data = color_input;
        } else if (feature === 'size') {
            data = size_input;
        } else if (feature === 'style') {
            data = style_input;
        }
        console.log(data)
        const URL = 'http://localhost:8000/set_laser_' + feature + '/' + id + '/';
        

        fetch(URL, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken(),
            },
            body: JSON.stringify({ data }),
        })
        .then(response => response.json())
        .catch(error => console.error('Error updating laser details:', error));
    }
</script>

<script>

    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const overlay = document.getElementById('overlay');
        document.getElementById('laserDropdown').value = '';

        if (sidebar.style.transform === 'translateX(0%)') {
            sidebar.style.transform = 'translateX(100%)';
            overlay.style.opacity = '0';
            overlay.style.pointerEvents = 'none';
        } else {
            sidebar.style.transform = 'translateX(0%)';
            overlay.style.opacity = '0.5';
            overlay.style.pointerEvents = 'auto';
        }
    }
    document.getElementById('openSidebarBtn').addEventListener('click', toggleSidebar);
    document.getElementById('closeSidebarBtn').addEventListener('click', toggleSidebar);
</script>

<main class="">
    {% block content %}{% endblock %}
</main>

</body>
</html>
